.socialbuttonsCont {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialbuttonsCont::after {
    content: '';
    max-width: 300px;
    width: 250px;
    height: 3px;
    background: linear-gradient(145deg, #cacaca, #bebebe);
    box-sizing: border-box;
    position: absolute;
    display: block;
    margin: 100px auto 10px auto;
    border-radius: 10px;
}


.socialButton {
    border-radius: 5px;
    box-shadow: rgb(184 182 181) 5px 5px 15px, rgb(255 255 255) -2px -2px 18px;
    color: hsl(0, 1%, 26%);
    padding: 10px 15px;
    margin: 20px 10px;
    background: linear-gradient(131deg, #f9f9f9, #cacaca);
}

.socialButton:hover {
    color: #0059fd;
}

.socialButton:active {
    background: #e0e0e0;
    box-shadow: inset 5px 5px 10px #9d9d9d,
        inset -5px -5px 10px #ffffff;
}

.iconSocial {
    line-height: 0;

}