.title-skill{
    margin-bottom: 30px;
    text-align: center;
}
.img-cont{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}   

.img-item{
    width: 100px;
    height: 100px;
}