.caseHome{
   display: flex;
   justify-content: center;
   align-items: flex-start;
   flex-direction: column;
   height: 100%;
   padding: 20px;
   margin: auto;
}

h1{
   margin: 0;
   color: #0059fd;
   font-weight: 500;
   font-size: 2.8em;
   margin: 0;
}

h2{
   margin: 0;
   font-weight: 500;
   font-size: 2.3em;
   margin: 0;
}

h3{
   margin: 0;
   font-weight: 500;
   font-size: 1.8em;
   margin: 0;
}

p{
   text-align: left;
   font-size: 1.3em;
   margin: 0;
}